table {
  td {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.mat-paginator {
  display: flex;
  justify-content: right;
}

.mat-column-actions {
  width: 50px;
  text-align: center;
}

.status-success {
  width: 3px;
  margin: 5px 5px;
  padding: 10px;
  
  background-color: forestgreen;
}

.status-created {
  width: 3px;
  margin: 5px 5px;
  padding: 10px;
  
  background-color: gold;
}

.status-warning {
  width: 3px;
  margin: 5px 5px;
  padding: 10px;
  
  background-color: brown;
}
.mat-column-postulantes {
  width: 150px;
  text-align: center;

}
.mat-column-creador {
  width: 120px;
  text-align: center;
}
.mat-column-estado {
  width: 7%;
  text-align: left;
  
}
.mat-column-fecha_publicacion {
  width: 90px;
  text-align: center;
}

.mat-column-ofertas {
  width: 450px;
  text-align: left;
}