<div class="flex flex-col w-full gap-4">
    <h2 mat-dialog-title>Cambiar Sub Estado</h2>
    <div mat-dialog-content>
        <div class="flex flex-col w-12/12" [formGroup]="formActions">

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Seleccione Estado</mat-label>
                <mat-select formControlName="estadoPostulanteId" placeholder="Seleccione Estado">
                    <mat-option [value]="null">----</mat-option>
                    <mat-option *ngFor="let option of estadoPostulante" [value]="option.id">{{
                        option.estadoPostulanteNombre }}</mat-option>
                </mat-select>
                <mat-error *ngIf="formActions.get('estadoPostulanteId').hasError('required')">
                    Es requerido seleccionar un estado
                </mat-error>
            </mat-form-field>

        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <button mat-stroked-button color="primary" (click)="cambiarEstadoPostulante()">Guardar</button>
        <button mat-stroked-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
    </div>
</div>