<div class="flex flex-col w-full gap-4">
    <!-- <h2 mat-dialog-title>{{ id.value ? 'Editar' : 'Crear' }}&nbsp; oferta laboral</h2> -->
    <div mat-dialog-content>
        <div class="flex flex-row justify-center">
            <section class="flex flex-col w-10/12">
                <mat-paginator [length]="count" [pageIndex]="0" [pageSize]="20"
                    [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
                </mat-paginator>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Estado</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matTooltip]="element?.status | statusOffers">
                                <mat-icon svgIcon="heroicons_outline:information-circle" [ngClass]="{
                                        'status-success': element.status === 2,
                                        'status-created': element.status === 3,
                                        'status-warning': element.status === 3
                                    }"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="informacion">
                        <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Informacion del
                            postulante
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex flex-col">
                                <div class="font-extrabold text-primary-700">
                                    {{(element?.primerNombre || '-') + ' ' + (element?.segundoNombre || '-') + ' ' +
                                    (element?.apellidoPaterno || '-') + ' ' + (element?.apellidoMaterno || '-')}}
                                </div>
                                <div class="font-light">
                                    {{(element?.idDepartamento?.name || '#Departamento') + ' ' +
                                    (element?.idProvincia?.name || '#Provincia') + ' ' + (element?.idDistrito?.name ||
                                    '#Distrito')}}
                                </div>
                                <div class="font-light">
                                    {{element?.email || '-'}}
                                </div>
                                <div class="font-light">
                                    {{(element?.profesion || '#PROFESION')}}
                                </div>
                                <div class="font-light">
                                    {{(element?.idDepartamento?.name || '#CARGO') + ' ' +
                                    (element?.idDepartamento?.name || '#ULTIMO EMPRESA DE TRABAJO')}}
                                </div>
                                <div class="font-light">
                                    {{(element?.fechaIngresoTrabajoReciente || '#Ingreso') + ' - ' +
                                    (element?.fechaSalidaTrabajoReciente || '#Salida')}}
                                </div>
                                <div class="font-light">
                                    {{(element?.motivoSalidaTrabajoReciente || '#MOTIVO DE SALIDA')}}
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Responsable</th>
                        <td mat-cell *matCellDef="let element">
                            <div>
                                <div class="relative w-15 h-15 ">
                                    <img class="auto" src="assets/images/avatars/user_clean.png">
                                </div>
                            </div>
                            <div class="font-extrabold text-primary-700">
                                {{(element?.primerNombre || '-') + ' ' + (element?.segundoNombre || '-') + ' ' +
                                (element?.apellidoPaterno || '-') + ' ' + (element?.apellidoMaterno || '-')}}
                            </div>
                            <div class="font-light">
                                {{(element?.motivoSalidaTrabajoReciente?.id || '#CORREO ELECTRONICO')}}
                            </div>
                            <div class="font-light">
                                {{(element?.motivoSalidaTrabajoReciente?.id || '#TELEFONO')}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Imagen</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="relative w-20 h-20 ">
                                <img class="auto" src="assets/images/avatars/user_clean.png">
                            </div>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="offerActions" color="primary">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu [xPosition]="'before'" #offerActions="matMenu">
                                <button mat-menu-item (click)="openModal1()">
                                    Registrar datos Entrevista
                                </button>
                                <button mat-menu-item>
                                    Cancelar
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
            <!-- <p>REGISTRAR ENTREVISTA</p> -->
            <!-- <div class="flex flex-col w-3/12 gap-5 text-justify" *ngIf="!id.value">
                <h1 class="font-bold">Nueva oferta laboral</h1>
                <p>Desde aqui puedes crear una nueva oferta de forma manual.</p>
                <p>Una oferta es una posición ofrecida por una empresa
                    para que una persona desempeñe un trabajo.</p>
                <p>Los campos con (*) son obligatorios.</p>
            </div> -->
            <!-- <div class="flex flex-col w-9/12" [formGroup]="formActions">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input
                            matInput
                            autocomplete="off"
                            placeholder="Ingrese un título para la oferta"
                            [formControlName]="'titulo'">
                    <mat-error *ngIf="formActions.get('titulo').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput
                              autocomplete="off"
                              placeholder="Ingrese una descripción de la oferta mínimo 50 caracteres máximo 1000 caracteres"
                              formControlName="descripcion"></textarea>
                    <mat-error *ngIf="formActions.get('descripcion').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Requisito</mat-label>
                    <textarea matInput
                              autocomplete="off"
                              placeholder="Ingrese una descripción de la oferta mínimo 50 caracteres máximo 1000 caracteres"
                              formControlName="requisito"></textarea>
                    <mat-error *ngIf="formActions.get('requisito').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense" appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <mat-select formControlName="cargoOferta" placeholder="Asociar cargo a la oferta">
                        <mat-option [value]="null">----</mat-option>
                        <ng-container *ngFor="let option of cargoOferta$ | async">
                            <mat-option [value]="option" >{{ option.nombreCargo }}</mat-option>
                            
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <!-- <button mat-stroked-button color="primary" (click)="createOrEditOffer()">{{ id.value ? 'Actualizar oferta' : 'Crear oferta'}}</button> -->
        <button mat-stroked-button color="primary">Crear Entrevista</button>
        <button mat-stroked-button (click)="close()">Cancelar</button>
    </div>
</div>