<div class="flex flex-col w-full gap-4">
    <div mat-dialog-content>
        <div class="flex flex-row p-2 m-2">
            Registrar datos
        </div>
        <div class="flex flex-row">
            <div class="flex flex-col w-3/6 m-2">
                <div class="flex flex-row p-2">
                    <div class="flex flex-col items-center">
                        <div class="flex flex-row p-1">
                            <h1>Fecha</h1>
                        </div>
                        <div class="flex flex-row mx-2">
                            <input type="date">
                        </div>

                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-row p-1">
                            <h1>Inicio</h1>
                        </div>
                        <div class="flex flex-row mx-2">
                            <input type="time">
                        </div>
                    </div>
                </div>
                <div class="flex flex-row p-2">
                    <div class="flex flex-col">
                        <div class="flex flex-row m-1 my-4">
                            Seleccionar resultado
                        </div>
                        <div class="flex p-1 m-1">
                            <label>
                                <input name="#" type="radio" class="mx-2" />
                                APROBADO
                            </label>
                        </div>
                        <div class="flex p-1 m-1">
                            <label>
                                <input name="#" type="radio" class="mx-2" />
                                DESAPROBADO
                            </label>
                        </div>
                        <div class="flex p-1 m-1">
                            <label>
                                <!-- <input type="checkbox" /> -->
                                <input name="#" type="radio" class="mx-2" />
                                AUTORIZACIÓN GERENCIA
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-3/6 m-2">
                <div class="flex flex-row p-2 m-2">
                    Observaciones
                </div>
                <div class="flex flex-row p-2 m-2">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <textarea matInput #message maxlength="100" rows="4"
                                placeholder="Ingrese el motivo de la cancelación"></textarea>
                            <mat-hint>{{message.value.length}} / 100</mat-hint>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <button mat-stroked-button color="primary" (click)="submit()">Continuar</button>
        <button mat-stroked-button (click)="close()">Cancelar</button>
        <button mat-stroked-button>Atrás</button>
    </div>
</div>