<!--#region Datos Bancarios-->
<!--#region Datos Laborales-->
<!--#region Medidas Indumentarias-->
<!--#region Redes Sociales-->
<!--#region Contacto de Emergencia-->
<!--#region Datos Previos TECHNOTANKERS-->

<!--Botones Finales-->

<!-- 

<mat-card class="mat-card mat-elevation-z0 w-full">
    <mat-card-content>
      <mat-card-title>Datos Generales</mat-card-title>
    </mat-card-content>
  </mat-card>
<div class="row">
<div class="p-6 py-4 bg-gray-80 dark:bg-transparent mat-elevation-z1">
    <button class="uppercase" mat-raised-button color="primary">Enviar</button>
     
    <button class="uppercase" (click)="eventCreate()" mat-raised-button color="primary">
            Cancelar
        </button> 
    <a
      mat-raised-button
      color="primary"
      class="uppercase"
      routerLink="/recursos-humanos/admision/postulaciones"
      >Cancelar
    </a>
  </div>
</div>-->

<mat-card class="mat-card mat-elevation-z0 w-full">
  <mat-card-content class="flex flex-col gap-3">

    <!--Ver si pueod meter tabla-->
<app-edit-information></app-edit-information>
  </mat-card-content>
</mat-card>


