#tarjeta{
    background: #E8E8E8;
    border: 1.5px solid #0439FE ;
}

#descripcion{
    background: #fff;
    padding: 8px;
    margin-top: 5px;
}

#fchpubli{
    text-align: right;
    align-content: right;
}


