<div class="flex flex-col gap-2">
    <div class="flex flex-row gap-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Moneda</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su primer nombre"
          [formControlName]="'primerNombre'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Banco</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su segundo nombre"
          [formControlName]="'segundoNombre'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Cuenta</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su primer apellido"
          [formControlName]="'apellidoPaterno'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>CCI</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su segundo apellido"
          [formControlName]="'apellidoMaterno'"
        />
      </mat-form-field>

     
    </div>
  </div>

  <!--Fila 2-->

  <div class="flex flex-col gap-2">
    <div class="flex flex-row gap-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Observación</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su primer nombre"
          [formControlName]="'primerNombre'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>RUC</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su segundo nombre"
          [formControlName]="'segundoNombre'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su primer apellido"
          [formControlName]="'apellidoPaterno'"
        />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Clave Sol</mat-label>
        <input
          matInput
          autocomplete="off"
          placeholder="Ingrese su segundo apellido"
          [formControlName]="'apellidoMaterno'"
        />
      </mat-form-field>

     
    </div>
  </div>