<div class="flex flex-col w-full gap-4">
    <h2 mat-dialog-title>Enviar CV por E-mail</h2>
    <div mat-dialog-content>
        <div class="flex flex-col w-12/12" [formGroup]="formActions">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Correo Electronico</mat-label>
                <input matInput autocomplete="off" placeholder="Ingrese un título para la oferta"
                    [formControlName]="'email'">
                <mat-error *ngIf="formActions.get('email').hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <button mat-stroked-button color="primary">Guardar</button>
        <button mat-stroked-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
    </div>
</div>