<mat-card class="mat-card mat-elevation-z0 w-full">
  <mat-card-content class="flex flex-col gap-3" [formGroup]="formActions">

    <div class="flex flex-col gap-2">
      <h1 class="text-primary-500 title-solicitud">Datos Personales</h1>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Primer nombre</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su primer nombre" [formControlName]="'primerNombre'">
          <mat-error *ngIf="formActions.get('primerNombre').hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Segundo nombre</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su segundo nombre"
            [formControlName]="'segundoNombre'">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Primer apellido</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su primer apellido"
            [formControlName]="'apellidoPaterno'">
          <mat-error *ngIf="formActions.get('apellidoPaterno').hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Segundo apellido</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su segundo apellido"
            [formControlName]="'apellidoMaterno'">
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Documento de Identidad</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su numero documento" [formControlName]="'dni'">
          <mat-error *ngIf="formActions.get('dni').hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="formActions.get('dni').hasError('minlength')"> Minimo 8 digitos
          </mat-error>
          <mat-error *ngIf="formActions.get('dni').hasError('maxlength')"> Superaste los 8 digitos
          </mat-error>
          <mat-error *ngIf="formActions.get('dni').hasError('pattern')"> Solo ingresar numeros
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="endDate" autocomplete="off" type="text" placeholder="Fecha de nacimiento"
            formControlName="fechaNacimiento" (click)="endDate.open()">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error *ngIf="formActions.get('fechaNacimiento').hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="idEstadoCivil" placeholder="Selecciona estado civil">
            <mat-option [value]="null">----</mat-option>
            <ng-container *ngFor="let option of civilStatus$ | async">
              <mat-option [value]="option.id">{{ option.nombre }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formActions.get('idEstadoCivil').hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput autocomplete="off" formControlName="direccion" placeholder="Ingrese su direccion">
          <mat-error *ngIf="formActions.get('direccion').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-col" appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="idDepartamento" placeholder="Selecciona departamento">
            <mat-option [value]="null">----</mat-option>
            <ng-container *ngFor="let option of departamento">
              <mat-option [value]="option.id" (click)="obtenerProvincia(option)">{{ option.nombre }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formActions.get('idDepartamento').hasError('required')"> Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-col" appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="idProvincia" placeholder="Selecciona provincia">
            <mat-option [value]="null">----</mat-option>
            <ng-container *ngFor="let option of provincia">
              <mat-option [value]="option.id">{{ option.name }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formActions.get('idProvincia').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-col" appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="idDistrito" placeholder="Selecciona distrito">
            <mat-option [value]="null">----</mat-option>
            <ng-container *ngFor="let option of distrito">
              <mat-option [value]="option.id">{{ option.name }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formActions.get('idDistrito').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <h1 class="text-primary-500 title-solicitud">Datos de Contacto</h1>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su celular" [formControlName]="'celular'">
          <mat-error *ngIf="formActions.get('celular').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Celular familiar</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su celular familiar"
            [formControlName]="'celularFamiliar'">
          <mat-error *ngIf="formActions.get('celularFamiliar').hasError('required')"> Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Telefono fijo</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su telefono fijo" [formControlName]="'telefonoFijo'">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email principal</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su email principal" [formControlName]="'email'">
          <mat-error *ngIf="formActions.get('email').hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="formActions.get('email').hasError('email')">
            Formato incorrecto
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email secundario</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su email secundario"
            [formControlName]="'emailSecundario'">
          <mat-error *ngIf="formActions.get('emailSecundario').hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="formActions.get('emailSecundario').hasError('email')">
            Formato incorrecto
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <h1 class="text-primary-500 title-solicitud">Datos Academicos</h1>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Profesion</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su profesion" [formControlName]="'profesion'">
          <mat-error *ngIf="formActions.get('profesion').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Lugar de estudios</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su lugar de estudios"
            [formControlName]="'lugarEstudios'">
          <mat-error *ngIf="formActions.get('lugarEstudios').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Ultimo curso realizado</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su ultimo curso realizado"
            [formControlName]="'ultimoCursoRealizado'">
          <mat-error *ngIf="formActions.get('ultimoCursoRealizado').hasError('required')"> Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Nombre de la empresa</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese el nombre de la empresa"
            [formControlName]="'empresaCurso'">
          <mat-error *ngIf="formActions.get('empresaCurso').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <h1 class="text-primary-500 title-solicitud">Datos laborales</h1>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Trabajo mas reciente</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su trabajo mas reciente"
            [formControlName]="'trabajoReciente'">
          <mat-error *ngIf="formActions.get('trabajoReciente').hasError('required')"> Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Fecha de ingreso</mat-label>
          <input matInput [matDatepicker]="end1Date" autocomplete="off" type="text" placeholder="Fecha de ingreso"
            formControlName="fechaIngresoTrabajoReciente" (click)="end1Date.open()">
          <mat-datepicker-toggle matSuffix [for]="end1Date"></mat-datepicker-toggle>
          <mat-datepicker #end1Date></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Fecha de salida</mat-label>
          <input matInput [matDatepicker]="end2Date" autocomplete="off" type="text" placeholder="Fecha de salida"
            formControlName="fechaSalidaTrabajoReciente" (click)="end2Date.open()">
          <mat-datepicker-toggle matSuffix [for]="end2Date"></mat-datepicker-toggle>
          <mat-datepicker #end2Date></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Empresa</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese la empresa"
            [formControlName]="'empresaTrabajoReciente'">
          <mat-error *ngIf="formActions.get('empresaTrabajoReciente').hasError('required')"> Este campo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Motivo de salida</mat-label>
          <input matInput autocomplete="off" placeholder="Ingrese su motivo de salida"
            [formControlName]="'motivoSalidaTrabajoReciente'">
          <mat-error *ngIf="formActions.get('motivoSalidaTrabajoReciente').hasError('required')"> Este campo es
            requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <h1 class="text-primary-500 title-solicitud">Anexar documentos</h1>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-full">
          <mat-label>Curriculum vitae</mat-label>
          <ngx-mat-file-input formControlName="curriculum" placeholder="Curriculum vitae" (change)="uploadCV($event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="formActions.get('curriculum').hasError('required')"> Este campo es requerido </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>D.N.I. - Frontal</mat-label>
          <ngx-mat-file-input formControlName="dniFrontal" placeholder="DNI FONTRAL" (change)="uploadDNI1($event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>D.N.I. - Posterior</mat-label>
          <ngx-mat-file-input formControlName="dniPosterior" placeholder="DNI POSTERIOR" (change)="uploadDNI2($event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Fotografia</mat-label>
          <ngx-mat-file-input formControlName="foto" placeholder="Fotografia" (change)="uploadFOTO($event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
      <h1 class="text-primary-500 title-solicitud">Seleccionar una opcion</h1>
      <div class="flex flex-row gap-2">
        <div class="w-full flex flex-col gap-5">
          <mat-label>1. Cuenta con disponibilidad para viajar al extranjero por periodos de 3 meses a mas?
          </mat-label>
          <mat-radio-group class="flex flex-row gap-2" formControlName="disponibilidadViajar">
            <mat-radio-button value="1">Si</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="formActions.get('disponibilidadViajar').hasError('required')"> Este campo es requerido
          </mat-error>
        </div>
        <div class="w-full flex flex-col gap-5">
          <mat-label>2. Cuenta con experienciaen el rubro de mantencion industrial (pintura, soldadura, etc)?
          </mat-label>
          <mat-radio-group class="flex flex-row gap-2" formControlName="experienciaRubro">
            <mat-radio-button value="1">Si</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="formActions.get('experienciaRubro').hasError('required')"> Este campo es requerido
          </mat-error>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>