<div class="flex flex-col w-full gap-4">
    <h2 mat-dialog-title>Cancelar Examen Medico</h2>
    <div mat-dialog-content>
        <div>Desea cancelar el examen medico del postulante <br>
            <b>NOMBRES Y APELLIDOS: </b>{{(data?.meta?.primerNombre || '#SinDatos') + ' ' +
            (data?.meta?.segundoNombre || '#SinDatos') + ' ' + (data?.meta?.apellidoPaterno || '#SinDatos') + ' ' +
            (data?.meta?.apellidoMaterno || '#SinDatos')}} <br>
            <b>CENTRO MEDICO: </b> {{(data?.meta?.centroMedicoNombre || '#SinDatos')}} <br>
            <b>TIPO DE EXAMEN: </b> {{(data?.meta?.tipoExamenNombre || '#SinDatos')}} <br>
            <b>FECHA PROGRAMADA: </b> {{(data?.meta?.fechaProgramadaExamen || '#SinDatos')}}
        </div>
        <br>
        <div [formGroup]="formActions">
            <mat-form-field class="flex flex-col w-12/12" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <textarea matInput placeholder="Escriba..." [formControlName]="'observaciones'"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <button mat-stroked-button color="primary" (click)="cancel()">Confirmar</button>
        <button mat-stroked-button mat-dialog-close cdkFocusInitial color="warn">Cancelar</button>
    </div>
</div>