<article class="flex flex-row gap-5 w-full">
    <section class="flex flex-col gap-2">
        <mat-card class="mat-elevation-z0">
            <mat-card-content>
                <h1 class="text-center text-primary-500">Filtrar informacion del postulante</h1>
                <hr>
                <app-postulant-filters></app-postulant-filters>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="flex flex-col w-10/12">
        <mat-paginator [length]="count" [pageIndex]="0" [pageSize]="20"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
        </mat-paginator>
        <ng-container *ngIf="dataSource.length">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Estado</th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <button [matTooltip]="element?.estadoPostulacion | statusPostulant">
                            <mat-icon [ngClass]="{
                                'status-INGRESADO': element?.estadoPostulacion === 1,
                                'status-VERIFICACION': element?.estadoPostulacion === 2,
                                'status-ENTREVISTA-PERSONAL': element?.estadoPostulacion === 3,
                                'status-FUERA-DEL-PROCESO': element?.estadoPostulacion === 4,
                                'status-EXAMEN-MÉDICO': element?.estadoPostulacion === 5,
                                'status-REFERENCIAS-PERSONALES': element?.estadoPostulacion === 6,
                                'status-POLIGRAFIA': element?.estadoPostulacion === 7,
                                'status-EVALUACIÓN-PSICOLABORAL': element?.estadoPostulacion === 8,
                                'status-ALTA-EMPRESA': element?.estadoPostulacion === 9}">
                            </mat-icon>
                        </button> -->
                        <button *ngIf="element?.estadoPostulacion === 1" class="status-INGRESADO">
                            INGRESADO
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 2" class="status-VERIFICACION">
                            VERIFICACION
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 3" class="status-ENTREVISTA-PERSONAL">
                            ENTREVISTA PERSONAL
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 4" class="status-FUERA-DEL-PROCESO">
                            FUERA DEL PROCESO
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 5" class="status-EXAMEN-MÉDICO">
                            EXAMEN MÉDICO
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 6" class="status-REFERENCIAS-PERSONALES">
                            REFERENCIAS PERSONALES
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 7" class="status-POLIGRAFIA">
                            POLIGRAFIA
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 8" class="status-EVALUACIÓN-PSICOLABORAL">
                            EVALUACIÓN PSICOLABORAL
                        </button>
                        <button *ngIf="element?.estadoPostulacion === 9" class="status-ALTA-EMPRESA">
                            ALTA EMPRESA
                        </button>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="informacion">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Informacion del postulante
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col">
                            <div class="font-extrabold text-primary-700">
                                {{(element?.primerNombre || '-') + ' ' + (element?.segundoNombre || '-') + ' ' +
                                (element?.apellidoPaterno || '-') + ' ' + (element?.apellidoMaterno || '-')}}
                            </div>
                            <div class="font-light">
                                {{(element?.departamentoDescripcion || '#Departamento') + ' ' +
                                (element?.provinciaDescripcion || '#Provincia') + ' ' + (element?.distritoDescripcion ||
                                '#Distrito')}}
                            </div>
                            <div class="font-light">
                                {{element?.email || '-'}}
                            </div>
                            <div class="font-light">
                                {{(element?.profesion || '#PROFESION')}}
                            </div>
                            <div class="font-light">
                                {{(element?.idDepartamento?.name || '#CARGO') + ' ' +
                                (element?.idDepartamento?.name || '#ULTIMO EMPRESA DE TRABAJO')}}
                            </div>
                            <div class="font-light">
                                {{(element?.fechaIngresoTrabajoReciente || '#Ingreso') + ' - ' +
                                (element?.fechaSalidaTrabajoReciente || '#Salida')}}
                            </div>
                            <div class="font-light">
                                {{(element?.motivoSalidaTrabajoReciente || '#MOTIVO DE SALIDA')}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Responsable</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="relative w-15 h-15 imagenResponsable">
                            <img class="relative w-15 h-15 " src="assets/images/avatars/avatar_prueba.png">
                        </div>
                        <div class="font-extrabold text-primary-700">
                            {{(element?.primerNombre || '-') + ' ' + (element?.segundoNombre || '-') + ' ' +
                            (element?.apellidoPaterno || '-') + ' ' + (element?.apellidoMaterno || '-')}}
                        </div>
                        <div class="font-light">
                            {{(element?.motivoSalidaTrabajoReciente?.id || '#CORREO ELECTRONICO')}}
                        </div>
                        <div class="font-light">
                            {{(element?.motivoSalidaTrabajoReciente?.id || '#TELEFONO')}}
                        </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Imagen</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="relative w-20 h-20">
                            <img class="auto" src="assets/images/avatars/user_clean.png">
                        </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="offerActions" color="primary">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu [xPosition]="'before'" #offerActions="matMenu">
                            <button mat-menu-item>
                                Imprimir cv
                            </button>
                            <button mat-menu-item (click)="sendEmail(element)">
                                Enviar cv via email
                            </button>
                            <button mat-menu-item>
                                Exportar cv como pdf
                            </button>
                            <a mat-menu-item routerLink="/recursos-humanos/admision/ver-informacion">
                                Ver informacion
                            </a>
                            <button mat-menu-item (click)="assignResponsible(element)"
                                *ngIf="(element?.estadoPostulacion != 4)">
                                Asignar responsable
                            </button>
                            <button mat-menu-item (click)="changeSubStatus(element)"
                                *ngIf="element?.estadoPostulacion === 2">
                                Cambiar sub estado
                            </button>
                            <a class="mat-menu-item" routerLink="/recursos-humanos/admision/ficha"
                                *ngIf="element?.estadoPostulacion === 9">Generar ficha postulante
                            </a>
                            <button mat-menu-item (click)="cancelProcess(element)"
                                *ngIf="(element?.estadoPostulacion != 4)">
                                Cancelar proceso de admision
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </section>
</article>