<article class="flex flex-row gap-5 w-full">
    <section class="flex flex-col gap-2">
        <mat-card class="mat-elevation-z0">
            <br>
            <mat-card-content>
                <button mat-raised-button color="primary" (click)="gestionarExamen()">Gestionar Examen Médico</button>
                <br>
                <br>
                <app-examen-filters></app-examen-filters>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="flex flex-col w-10/12">
        <mat-paginator [length]="count" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]">
        </mat-paginator>

        <ng-container *ngIf="dataSource?.length; else notResults">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">

                <!-- Position Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Estado</th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element?.subEstadoExamen === 7" class="status-PENDIENTE">
                            PENDIENTE
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 1" class="status-PROGRAMADO">
                            PROGRAMADO
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 2" class="status-APROBADO">
                            APROBADO
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 3" class="status-CANCELADO">
                            CANCELADO
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 4" class="status-DESAPROBADO">
                            DESAPROBADO
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 5" class="status-OBSERVADO">
                            OBSERVADO
                        </button>
                        <button *ngIf="element?.subEstadoExamen === 6" class="status-REPROGRAMADO">
                            REPROGRAMADO
                        </button>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="informacion">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Informacion del postulante
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col">
                            <div class="font-extrabold text-primary-700">
                                {{(element?.primerNombre || '-') + ' ' + (element?.segundoNombre || '-') + ' ' +
                                (element?.apellidoPaterno || '-') + ' ' + (element?.apellidoMaterno || '-')}}
                            </div>
                            <div class="font-light">
                                Tipo examen medico a realizar: <br>
                                {{(element?.tipoExamenNombre || '#tipoExamen')}}
                            </div>
                            <div class="font-light">
                                Programado para el: <br>
                                {{element?.fechaProgramadaExamen || '#SinFecha'}}
                            </div>
                            <div class="font-light">
                                Lugar: <br>
                                {{(element?.centroMedicoNombre || '#SinCentroMedico')}}
                            </div>
                            <div class="font-light">
                                Fecha de informe medico: <br>
                                {{(element?.fechaInformeMedico || '#SinFechaInforme')}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Responsable</th>
                    <td mat-cell *matCellDef="let element">

                        <div class="font-light">
                            Observaciones: <br>
                            {{(element?.examenObservacion || '#SinObservaciones')}}
                        </div>

                        <div *ngIf="element.encargadoId > 0">
                            <div>
                                <div class="relative w-15 h-15 imagenResponsable">
                                    <img class="auto" src="assets/images/avatars/avatar_prueba.png">
                                </div>
                            </div>
                            <div class="font-extrabold text-primary-700">
                                {{(element?.encargadoNombre || '#NombreEncargado')}}
                            </div>
                            <div class="font-light">
                                {{(element?.encargadoEmail || '#CORREO ELECTRONICO')}}
                            </div>
                            <div class="font-light">
                                {{(element?.encargadoTelefono || '#TELEFONO')}}
                            </div>
                        </div>

                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"> Imagen</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="relative w-30 h-30">
                            <img class="imagenPostulante" src="data:image/png;base64,{{fotoPostulante}}">
                        </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="(element?.examenId != null)">
                            <button mat-icon-button [matMenuTriggerFor]="offerActions" color="primary">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu [xPosition]="'before'" #offerActions="matMenu">
                                <button mat-menu-item (click)="reprogram(element)"> Reprogramar </button>
                                <button mat-menu-item (click)="uploadResults(element)"> Cargar Resultados </button>
                                <button mat-menu-item (click)="cancelExam(element)"> Cancelar Examen </button>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

        <!-- No results -->
        <ng-template #notResults>
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Sin resultados!</div>
            </div>
        </ng-template>

    </section>
</article>