<div class="flex flex-col w-full gap-4">
    <!-- <h2 mat-dialog-title>{{ id.value ? 'Editar' : 'Crear' }}&nbsp; oferta laboral</h2> -->
    <!-- <div mat-dialog-content class="bg-black"> -->
    <div mat-dialog-content>
        <!-- <div class="bg-orange-500 flex flex-row gap-10"> -->
        <div class="flex flex-row">
            <!-- <div class="bg-blue-300 m-2 flex-col"> -->
                <div class="flex flex-col w-2/6 m-2">
                <h1 class="text-lg p-2">Programar Entrevista</h1>
                <h1 class="text-sm p-2">Entrevista Personal</h1>
                <p class="p-2 text-gray-400">La entrevista personal es gestionada siempre y cuando el postulante haya presentado todos sus documentos y estos han sido validados en conjunto con las referencias.</p>
                <h1 class="text-sm p-2">Listado de Entrevistas</h1>
                <a href="recursos-humanos/admision/entrevistas" class="text-blue-600 p-2">Ir al listado de Entrevistas</a>
            </div>
            <!-- <div class="bg-blue-500 m-2 flex-col"> -->
                <div class="flex flex-col w-4/6 m-2 justify-between items-center">
                <h1 class="text-lg p-2">Entrevista personal</h1>
                <h1 class="text-sm p-2">Seleccione el postulante asignado para entrevista personal</h1>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label for="">Víctor Rodríguez</label><br>
                </div>
            </div>
            <!-- <div class="flex flex-col w-3/12 gap-5 text-justify" *ngIf="!id.value">
                <h1 class="font-bold">Nueva oferta laboral</h1>
                <p>Desde aqui puedes crear una nueva oferta de forma manual.</p>
                <p>Una oferta es una posición ofrecida por una empresa
                    para que una persona desempeñe un trabajo.</p>
                <p>Los campos con (*) son obligatorios.</p>
            </div> -->
            <!-- <div class="flex flex-col w-9/12" [formGroup]="formActions">
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Título</mat-label>
                    <input
                            matInput
                            autocomplete="off"
                            placeholder="Ingrese un título para la oferta"
                            [formControlName]="'titulo'">
                    <mat-error *ngIf="formActions.get('titulo').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput
                              autocomplete="off"
                              placeholder="Ingrese una descripción de la oferta mínimo 50 caracteres máximo 1000 caracteres"
                              formControlName="descripcion"></textarea>
                    <mat-error *ngIf="formActions.get('descripcion').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Requisito</mat-label>
                    <textarea matInput
                              autocomplete="off"
                              placeholder="Ingrese una descripción de la oferta mínimo 50 caracteres máximo 1000 caracteres"
                              formControlName="requisito"></textarea>
                    <mat-error *ngIf="formActions.get('requisito').hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-dense" appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <mat-select formControlName="cargoOferta" placeholder="Asociar cargo a la oferta">
                        <mat-option [value]="null">----</mat-option>
                        <ng-container *ngFor="let option of cargoOferta$ | async">
                            <mat-option [value]="option" >{{ option.nombreCargo }}</mat-option>
                            
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <!-- <button mat-stroked-button color="primary" (click)="createOrEditOffer()">{{ id.value ? 'Actualizar oferta' : 'Crear oferta'}}</button> -->
        <button mat-stroked-button (click)="close()">Cancelar</button>
        <!-- <button mat-stroked-button color="primary">Cancelar</button> -->
    </div>
</div>


