<div class="flex flex-col w-full gap-4">
    <div mat-dialog-content>
        <div class="flex flex-row">
            <div class="flex flex-col w-2/6 m-2">
                <h1 class="text-lg p-2">Programar Entrevista</h1>
                <h1 class="text-sm p-2">Entrevista Personal</h1>
                <p class="p-2 text-gray-400">La entrevista personal es gestionada siempre y cuando el postulante haya
                    presentado todos sus documentos y estos han sido validados en conjunto con las referencias.</p>
                <h1 class="text-sm p-2">Listado de Entrevistas</h1>
                <a href="recursos-humanos/admision/entrevistas" class="text-blue-600 p-2">Ir al listado de
                    Entrevistas</a>
            </div>
            <!-- <div class="bg-blue-500 m-2 flex-col"> -->
            <div class="flex flex-col w-4/6 m-2 justify-between items-center">
                <h1 class="text-lg p-2">Entrevista personal</h1>
                <h1 class="text-sm p-2">Seleccione el postulante asignado para entrevista personal</h1>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label class="mx-2" for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label class="mx-2" for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label class="mx-2" for="">Víctor Rodríguez</label><br>
                </div>
                <div class="p-1">
                    <input type="radio" name="postulante" (click)="openModal1()">
                    <label class="mx-2" for="">Víctor Rodríguez</label><br>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row-reverse gap-4" mat-dialog-actions>
        <!-- <button mat-stroked-button color="primary" (click)="createOrEditOffer()">{{ id.value ? 'Actualizar oferta' : 'Crear oferta'}}</button> -->
        <button mat-stroked-button (click)="close()">Cancelar</button>
        <!-- <button mat-stroked-button color="primary">Cancelar</button> -->
    </div>
</div>