<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
    <!-- Drawer -->
    <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [opened]="false" [position]="'end'" [disableClose]="true"
        #matDrawer>
        <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
        <!-- Main -->
        <div class="flex flex-col flex-auto">
            <article class="flex flex-row gap-2 w-full">
                <!-- Comienza Parte Superior-->

                <section class="flex flex-row w-full flex-col h-full">
                    <mat-card>
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full"
                                style="background-color: rgb(184, 214, 228)">
                                <ng-container matColumnDef="imagen">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Imagen
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="relative w-20 h-20">
                                            <img class="auto" src="assets/images/avatars/user_clean.png" />
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="informacion">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Información
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-col">
                                            <div class="font-extrabold text-primary-700">
                                                {{ (element?.primerNombre || "-") +
                                                " " +
                                                (element?.segundoNombre || "-") +
                                                " " +
                                                (element?.apellidoPaterno || "-") +
                                                " " +
                                                (element?.apellidoMaterno || "-") }}
                                            </div>
                                            <div class="font-light">
                                                {{ (element?.idDepartamento || "#Departamento") +
                                                " " +
                                                (element?.idProvincia || "#Provincia") +
                                                " " +
                                                (element?.idDistrito || "#Distrito") }}
                                            </div>
                                            <div class="font-light">
                                                {{ element?.email || "-" }}
                                            </div>
                                            <div class="font-light">
                                                {{ element?.profesion || "#PROFESION" }}
                                            </div>
                                            <div class="font-light">
                                                {{ (element?.idDepartamento?.name || "#CARGO") + " " +
                                                (element?.idDepartamento?.name ||
                                                "#ULTIMO EMPRESA DE TRABAJO") }}
                                            </div>
                                            <div class="font-light">
                                                {{ (element?.fechaIngresoTrabajoReciente || "#Ingreso") +
                                                " - " +
                                                (element?.fechaSalidaTrabajoReciente || "#Salida") }}
                                            </div>
                                            <div class="font-light">
                                                {{ element?.motivoSalidaTrabajoReciente ||
                                                "#MOTIVO DE SALIDA" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="cargo">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500"></th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-col">
                                            <div class="font-extrabold text-primary-700">
                                                {{ element?.profesion || "-" }}
                                            </div>
                                            <br />
                                            <button class="uppercase" style="width: 120px;
                                                left: -25px; background-color: rgb(45, 214, 45);" mat-raised-button>
                                                Verificación
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                    <br />

                    <!-- Finaliza Parte superior-->

                    <!-- Comienza Parte Inferior-->
                    <mat-card>
                        <div class="title-main text-2xl font-extrabold tracking-tight leading-none">
                            Datos Personales
                        </div>
                        <br />
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">
                                <ng-container matColumnDef="celular">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Celular
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                {{ "+51" + " " + (element?.celular || "-") }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="celularfamiliar">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Celular Familiar
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350 flex justify-center">
                                                {{ "+51" + " " + element?.celularFamiliar || "-" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="emailsecundario">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Email Secundario
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350 flex justify-center">
                                                {{ element?.emailSecundario || "-" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                            </table>
                            <br />
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">
                                <ng-container matColumnDef="domicilio">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Domicilio
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                {{ element?.direccion + " " + element?.distrito || "-" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="estadocivil">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Estado Civil
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                {{ element?.idEstadoCivil?.nombre || "#Estado Civil" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="fechanacimiento">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Fecha Nacimiento
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                {{ element?.fechaNacimiento || "-" }}
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="experiencia">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Experiencia
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                <div *ngIf="element?.experienciaRubro === 1">Sí</div>
                                                <div *ngIf="element?.experienciaRubro === 2">No</div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="disponibilidad">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Disponibilidad viajar
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex flex-row flex justify-center">
                                            <div class="font-bold text-primary-350">
                                                <div *ngIf="element?.experienciaRubro === 1">Sí</div>
                                                <div *ngIf="element?.experienciaRubro === 2">No</div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
                            </table>
                            <br />
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-full">
                                <ng-container matColumnDef="responsable">
                                    <th mat-header-cell *matHeaderCellDef class="uppercase text-primary-500">
                                        Responsable
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div>
                                            <div class="relative w-15 h-15">
                                                <img class="auto" src="assets/images/avatars/user_clean.png" />
                                            </div>
                                        </div>
                                        <div class="font-extrabold text-primary-700">
                                            {{ (element?.primerNombre || "-") +
                                            " " +
                                            (element?.segundoNombre || "-") +
                                            " " +
                                            (element?.apellidoPaterno || "-") +
                                            " " +
                                            (element?.apellidoMaterno || "-") }}
                                        </div>
                                        <div class="font-light">
                                            {{ element?.motivoSalidaTrabajoReciente?.id ||
                                            "#CORREO ELECTRONICO" }}
                                        </div>
                                        <div class="font-light">
                                            {{ element?.motivoSalidaTrabajoReciente?.id || "#TELEFONO" }}
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="border-radius: 2px" class="px-6 py-4 text-right bg-gray-200 dark:bg-transparent">
                        <mat-card-content>
                            <section class="flex flex-row gap-2 w-100 center-end">
                                <div>
                                    <a mat-raised-button color="primary" class="uppercase"
                                        routerLink="/recursos-humanos/admision/postulaciones">Editar
                                    </a>
                                     
                                    <a mat-raised-button color="warn" class="uppercase"
                                        routerLink="/recursos-humanos/admision/postulaciones">Cancelar
                                    </a>
                                </div>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </section>
                <!-- Finaliza Parte Inferior-->

                <!-- Parte derecha-->
                <section class="flex flex-col gap-2 w-100">
                    <mat-card style="border-radius: 2px">
                        <mat-card-content>
                            <h1 style="font-size: 18px">Historial del postulante</h1>
                            <br />
                            <a class="uppercase" style="left: 135px" mat-raised-button color="primary"
                                routerLink="/recursos-humanos/admision/historial">Ver Historial
                            </a>
                        </mat-card-content>
                    </mat-card>

                    <mat-card style="border-radius: 2px">
                        <mat-card-content>
                            <h1 style="font-size: 18px">Ficha del postulante</h1>
                            <br />
                            <a class="uppercase" style="left: 165px" mat-raised-button color="primary"
                                routerLink="/recursos-humanos/admision/ficha">Ver Ficha
                            </a>
                        </mat-card-content>
                    </mat-card>

                    <mat-card style="border-radius: 2px">
                        <mat-card-content>
                            <h1 style="font-size: 20px">Documentos Postulante</h1>
                            <br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox1" value="checkbox1" />
                                DNI</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox2" value="checkbox2" />
                                Pasaporte</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox3" value="checkbox3" />
                                Visa</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox4" value="checkbox4" />
                                Tarjeta
                                Vacuna Fiebre Amarilla</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox5" value="checkbox5" />
                                Esquema
                                Vacuna Covid</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox6" value="checkbox6" />
                                Antecedentes Penales</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox7" value="checkbox7" />
                                Fotografía</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox8" value="checkbox8" />
                                Curriculum Vitae</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox9" value="checkbox9" /> Examen
                                Médico</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox10" value="checkbox10" />
                                Evaluación Referencia Personales</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox11" value="checkbox11" />
                                Evaluación Psicolaboral</label><br />
                            <label style="font-size: 16px"><input type="checkbox" id="cbox12" value="checkbox12" />
                                Evaluación Poligrafía</label><br />
                            <br />
                            <br />
                            <div>
                                <button class="uppercase" style="width: 90px; font-size: 11px; left: 30px"
                                    mat-raised-button color="primary">
                                    Descargar
                                </button>

                                <button class="uppercase" style="width: 110px; font-size: 11px; left: 60px"
                                    mat-raised-button color="primary">
                                    Cargar Archivo
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </section>
            </article>
        </div>
        <br />






    </mat-drawer-content>
</mat-drawer-container>