table {
    td {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  .mat-column-celular {
    text-align: center;
  }

  .mat-column-celularfamiliar {
    text-align: center;
  }
  .mat-column-emailsecundario {
    text-align: center;
  }
  .mat-column-domicilio {
    text-align: center;
  }
  .mat-column-estadocivil {
    text-align: center;
  }
  .mat-column-fechanacimiento {
    text-align: center;
  }
  .mat-column-experiencia {
    text-align: center;
  }
  .mat-column-disponibilidad {
    text-align: center;
  }

  .mat-column-responsable {
    text-align: 200px;
  }